<!DOCTYPE html>
<html>
<head>
    <!-- Anti-flicker snippet (recommended)  -->
    <style>
        .async-hide {
            opacity: 0 !important
        }
    </style>
    <script>
        (function (a, s, y, n, c, h, i, d, e) {
            s.className += ' ' + y; h.start = 1 * new Date;
            h.end = i = function () { s.className = s.className.replace(RegExp(' ?' + y), '') };
            (a[n] = a[n] || []).hide = h; setTimeout(function () { i(); h.end = null }, c); h.timeout = c;
        })(window, document.documentElement, 'async-hide', 'dataLayer', 4000,
            { 'GTM-5M242F3': true });</script>
    <!-- Start of Google Analytics Code -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124616186-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-124616186-1', { 'optimize_id': 'GTM-5M242F3' });
    </script>
    <!-- End of Google Ananltyics Code -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("metatags", false)
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Content/images/icons/TS-Logomark.png" type="image/png">
    @Styles.Render("~/bundles/minified")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/newIndex")
    @Styles.Render("https://use.fontawesome.com/releases/v5.7.0/css/all.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
    @*<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />*@
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700|Montserrat:400,300i,700" rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
            crossorigin="anonymous">
    </script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css" rel="stylesheet" />

</head>
<body>
    @*<button onclick="topFunction()" id="backTotop" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>*@

    <div @*class="row"*@>
        <div @*class="col-12"*@>
            @RenderBody()
        </div>
    </div>

    <div class="trsc-partners-row">
        @*<div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="trsc-heading-oblique" style="margin-top:-200px;">40% of clinical trials don't reach enrollment goals.<br />30% of patients drop out.</h2>
                    <h6 style="font-size: 2em; margin-bottom:60px;">TrialScout can help.</h6>
                </div>
                <div class="col-12 col-md-6">
                    <h2 class="trsc-shadow">TrialScout Can Connect Patients to Your Research Center</h2>
                    <p>
                        TrialScout allows patients to choose your research center based on your profile and peer reviews. Join the community to share all the great work you're doing.
                    </p>
                    <a href="~/ResearchCenter/ClaimResearchCenter" class="btn btn-primary">For Research Centers</a>
                </div>
                <div class="col-12 col-md-6">
                    <iframe src="https://www.youtube.com/embed/u-_NxlXcJ84?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>*@
        <div class="row trsc-footer-expander-row">
            <div class="col-12">&nbsp;</div>
        </div>
    </div>
    @Html.Partial("_Footer")
    <div class="trsc-owl-chat">
        <span id="hs-script-loader" name="hs-script-loader"></span>
    </div>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3986404.js"></script>
    <!-- End of HubSpot Embed Code -->
    <!-- Google Api location autocomplete -->
    <script src="https://maps.googleapis.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["GoogleAPIKey"]&libraries=places&callback=searchLocation" async defer></script>
    <script type="text/javascript">
        function searchLocation() {
            var input = document.getElementById('location');
            var options = {
                types: ['(regions)']
            }

            //Geocoder
            var geocoder = new google.maps.Geocoder(), google_cordinates;

            navigator.geolocation.getCurrentPosition(function (position) {
                var longitude = position.coords.longitude;
                var latitude = position.coords.latitude;
                
                google_cordinates = new google.maps.LatLng(latitude, longitude);

                geocoder.geocode({ 'location': google_cordinates }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                       // console.log(results[5].formatted_address);
                        input.value = results[5].formatted_address;
                    } else {
                        console.log("Error found");
                    }
                })

            });

            var autocomplete = new google.maps.places.Autocomplete(input, options);
            autocomplete.setComponentRestrictions({ 'country': ['us','ca'] });
            autocomplete.setFields(['address_components', 'name', 'geometry']);

            var hasDownBeenPressed = false;

            input.addEventListener('keydown', (e) => {
                if (e.keyCode === 40) {
                    hasDownBeenPressed = true;
                }
            });

            google.maps.event.addDomListener(input, 'keydown', (e) => {

                e.cancelBubble = true;

                if (e.keyCode === 13 || e.keyCode === 9) {

                    if (!hasDownBeenPressed && !e.hasRanOnce) {

                        var event = new Event('keydown');
                        event.code = "ArrowDown";
                        event.key = "ArrowDown";
                        event.keyCode = 40;
                        event.hasRanOnce = true;
                        google.maps.event.trigger(e.target, 'keydown', event);

                    }
                }
            });


            google.maps.event.addDomListener(input, 'focusout', (e) => {
                e.cancelBubble = true;
                if (!hasDownBeenPressed && !e.hasRanOnce) {
                    var event = new Event('keydown');
                    event.code = "ArrowDown";
                    event.key = "ArrowDown";
                    event.keyCode = 40;
                    event.hasRanOnce = true;
                    google.maps.event.trigger(e.target, 'keydown', event);
                }
            });

            google.maps.event.addDomListener(input, 'blur', (e) => {
                e.cancelBubble = true;
                if (!hasDownBeenPressed && !e.hasRanOnce) {
                    var event = new Event('keydown');
                    event.code = "ArrowDown";
                    event.key = "ArrowDown";
                    event.keyCode = 40;
                    event.hasRanOnce = true;
                    google.maps.event.trigger(e.target, 'keydown', event);
                }
            });

            input.addEventListener('focus', () => {
                hasDownBeenPressed = false;
                input.value = '';
            });


            google.maps.event.addListener(autocomplete, 'place_changed', function () {

                var place = autocomplete.getPlace();

                if (typeof place.address_components !== 'undefined') {
                    hasDownBeenPressed = false;
                }

            });

        }

     
    </script>

    <!-- End google Api location autocomplete -->
</body>
</html>
