<!DOCTYPE html>
<html>
<head>
    <!-- Anti-flicker snippet (recommended)  -->
    <style>
        .async-hide {
            opacity: 0 !important
        }
    </style>
    <script>
        (function (a, s, y, n, c, h, i, d, e) {
            s.className += ' ' + y; h.start = 1 * new Date;
            h.end = i = function () { s.className = s.className.replace(RegExp(' ?' + y), '') };
            (a[n] = a[n] || []).hide = h; setTimeout(function () { i(); h.end = null }, c); h.timeout = c;
        })(window, document.documentElement, 'async-hide', 'dataLayer', 4000,
            { 'GTM-5M242F3': true });</script>
    <!-- Start of Google Analytics Code -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124616186-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-124616186-1', { 'optimize_id': 'GTM-5M242F3' });
    </script>
    <!-- End of Google Ananltyics Code -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("metatags", false)
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Content/images/icons/TS-Logomark.png" type="image/png">

    @Styles.Render("~/bundles/minified")
    @Styles.Render("~/Content/css")
    @Styles.Render("https://use.fontawesome.com/releases/v5.7.0/css/all.css")
    @*@Styles.Render("~/Content/NewIndex.css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/AllExceptHome")
    @RenderSection("scripts", required: false)
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700|Montserrat:400,300i,700" rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
            crossorigin="anonymous">
    </script>
    <script async src="https://platform-api.sharethis.com/js/sharethis.js#property=5d2f700bbce6d60012be8e37&product=" sticky-share-buttons"></script>


    @*<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css" rel="stylesheet" />*@
</head>
<body>
    @*<button onclick="topFunction()" id="backTotop" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>*@

    <div class="row trsc-masthead-pages">
        <div class="col-12 col-lg-3 trsc-logo-full">
            <a href="~/"><img src="~/Content/images/TSNoTagLogo.svg" class="img-fluid" alt="TrialScout" border="0" /></a>
        </div>
        <div class="col-12 col-lg-9 trsc-partner-login">
            <div class="row">
                <div class="col-12 trsc-mobile-nav">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
            <div class="row">
                <div class="col-12 trsc-main-menu">
                    @Html.Partial("_NavMainMenu")
                </div>
            </div>
        </div>
    </div>
    <div class="body-content" style="min-height: unset;">
        @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
        @RenderBody()
    </div>
    <div class="row trsc-footer-expander-row">
        <div class="col-12">&nbsp;</div>
    </div>
    @Html.Partial("_Footer")
    <div class="trsc-owl-chat">
        <span id="hs-script-loader" name="hs-script-loader"></span>
    </div>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3986404.js"></script>
    <!-- End of HubSpot Embed Code -->
    <!-- Google Api location autocomplete -->
    <script src="https://maps.googleapis.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["GoogleAPIKey"]&libraries=places&callback=searchLocation" async defer></script>
    <script type="text/javascript">
        function searchLocation() {
            var input = document.getElementById('location');
            var options = {
                types: ['(regions)']
            }
            var autocomplete = new google.maps.places.Autocomplete(input, options);
            autocomplete.setComponentRestrictions({ 'country': ['us', 'ca'] });
            autocomplete.setFields(['address_components', 'name', 'geometry']);

            var hasDownBeenPressed = false;

            input.addEventListener('keydown', (e) => {
                if (e.keyCode === 40) {
                    hasDownBeenPressed = true;
                }
            });

            google.maps.event.addDomListener(input, 'keydown', (e) => {

                e.cancelBubble = true;

                if (e.keyCode === 13 || e.keyCode === 9) {

                    if (!hasDownBeenPressed && !e.hasRanOnce) {
                        google.maps.event.trigger(e.target, 'keydown', {
                            keyCode: 40,
                            hasRanOnce: true
                        });
                    }
                }
            });

            input.addEventListener('focus', () => {
                hasDownBeenPressed = false;
                input.value = '';
            });

            google.maps.event.addListener(autocomplete, 'place_changed', function () {

                var place = autocomplete.getPlace();

                if (typeof place.address_components !== 'undefined') {
                    hasDownBeenPressed = false;
                }

            });

        }
    </script>

    <!-- End google Api location autocomplet -->

</body>
</html>

<script>
    $(function () {
        $(document).on('click', '#owl-chat', function () {
            eval($('#hs-script-loader'));
        });
    });
</script>