@using Microsoft.AspNet.Identity
@using System.Configuration;
@using System.Threading;
@using TrialScout.Web.Localization;

@{
    var routeValues = this.ViewContext.RouteData.Values;
    var controller = routeValues["controller"] as string;
    var action = routeValues["action"] as string;
    var researchCenterName = routeValues["name"] as string;
    var alias = routeValues["alias"] as string;
}
<div class="">
    <!--DESKTOP NAVIGATION-->
    <nav class="navbar navbar-expand-md mobileNavHome">
        <ul class="navbar-nav" style="margin-left: 5%; margin-bottom: 6px;">
            @if (!Request.IsAuthenticated)
            {

                @*<div style="display:inline-block;">

                        <a class="trsc-admin-log trsc-mobile-sep" href="~/Home/Education">Education</a>
                    </div>*@
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white !important;">@Languages.GetLanguageValue(Thread.CurrentThread.CurrentCulture.Name)</a>
                    <div class="dropdown-menu">
                        @foreach (string lang in ConfigurationManager.AppSettings["SupportedCultures"].Split(','))
                        {
                            @Html.ActionLink(Languages.GetLanguageValue(lang), action, controller, new { culture = lang }, new { @style = Thread.CurrentThread.CurrentCulture.Name == lang ? "font-weight:bold !important;color:black !important;" : "font-weight:normal !important;color:black !important;", @class = "dropdown-item" })
                        }
                    </div>
                </li>
                @*<li class="nav-item">
                        <a class="trsc-admin-log" href="~/TheNest">
                            <img src="~/Content/images/icons/the-nest-menu.svg" alt="Nest Logo" style="width:42px;height:42px;border:0;"> Education
                        </a>
                    </li>*@

            }

            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <li class="nav-item">

                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) | <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    </li>

                }
            }
            else
            {
                @*<li><a href="/ResearchCenter/CreateResearchCenterProfile" class="btn btn-outline-primary">Claim a Research Center</a></li>*@
                <li class="nav-item">
                    @Html.ActionLink(Resources.LogInLabel, "Login", "Account", routeValues: null, htmlAttributes: new { @class = "trsc-admin-log", id = "loginLink" })
                </li>
            }
        </ul>
    </nav>

    <!--MOBILE NAVIGATION-->
    <nav class="navbar navbar-expand-lg trsc-main-nav-home">
        <a class="mobile-logo-home" href="~/"><img src="~/Content/images/FinNoTagTS.svg" class="trsc-logo-mobile" /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" onclick="openNav()" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <img src="~/Content/images/icons/menutoggle.svg" />
            </span>
        </button>
    </nav>
    <div id="myNav" class="mobileMenuHome">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="mobileMenuHome-content">
            <ul class="navbar-nav">
                <li class="nav-item">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        }
                    }
                    else
                    {
                        @Html.ActionLink(Resources.LogInLabel, "Login", "Account", routeValues: null, htmlAttributes: new { @class = "trsc-admin-log", id = "loginLink" })
                    }
                </li>
                <li class="nav-item dropdown">
                    @*<a>
                        @foreach (string lang in ConfigurationManager.AppSettings["SupportedCultures"].Split(','))
                        {
                            @Html.ActionLink(Languages.GetLanguageValue(lang), action, controller, new { culture = lang }, new { @style = Thread.CurrentThread.CurrentCulture.Name == lang ? "font-weight:bold !important;color:black !important;" : "font-weight:normal !important;color:black !important;", @class = "dropdown-item" })
                        }
                    </a>*@
                    @if (!string.IsNullOrEmpty(researchCenterName))
                    {
                        <a>
                            @foreach (string lang in ConfigurationManager.AppSettings["SupportedCultures"].Split(','))
                            {

                                @Html.ActionLink(Languages.GetLanguageValue(lang), action, controller, new { culture = lang, name = researchCenterName }, new { @style = Thread.CurrentThread.CurrentCulture.Name == lang ? "font-weight:bold !important;color:black !important;" : "font-weight:normal !important;color:black !important;", @class = "dropdown-item" })
                            }

                        </a>
                    }

                    @if (!string.IsNullOrEmpty(alias))
                    {
                        <a>
                            @foreach (string lang in ConfigurationManager.AppSettings["SupportedCultures"].Split(','))
                            {

                                @Html.ActionLink(Languages.GetLanguageValue(lang), action, controller, new { culture = lang, alias = alias }, new { @style = Thread.CurrentThread.CurrentCulture.Name == lang ? "font-weight:bold !important;color:black !important;" : "font-weight:normal !important;color:black !important;", @class = "dropdown-item" })
                            }

                        </a>
                    }

                    @if (string.IsNullOrEmpty(alias) && string.IsNullOrEmpty(researchCenterName))
                    {
                        <a>
                            @foreach (string lang in ConfigurationManager.AppSettings["SupportedCultures"].Split(','))
                            {

                                @Html.ActionLink(Languages.GetLanguageValue(lang), action, controller, new { culture = lang }, new { @style = Thread.CurrentThread.CurrentCulture.Name == lang ? "font-weight:bold !important;color:black !important;" : "font-weight:normal !important;color:black !important;", @class = "dropdown-item" })
                            }

                        </a>

                    }

                </li>
                <li class="nav-item">
                    @Html.Partial("_NavAdminMenuHome")
                </li>
            </ul>
        </div>
    </div>
    @if (Request.IsAuthenticated)
    {
        <style>

            .trsc-main-nav {
                margin-top: 0 !important;
            }
        </style>
    }
    <script>
        function openNav() {
            document.getElementById("myNav").style.width = "35%";
            $('body').addClass("fixedPosition");
            document.getElementById("myNav").style.borderLeft = "1px solid #707070";
        }

        function closeNav() {
            document.getElementById("myNav").style.width = "0%";
            $('body').removeClass("fixedPosition");
            document.getElementById("myNav").style.borderLeft = "none";
        }

    </script>
</div>